{{define "aboutPage"}}
{{template "headComponent"}}
<body>
<main>
{{template "navComponent"}}
<div class="uk-light uk-padding-small uk-container uk-container-small uk-align-center">
    <p>Greetings, my name is Adam Giunta the owner and operator of REKTAF.
    This company was created to offer my services to residential customers in the Oakland County, MI area at competitive rates.
    With over 10 years experience serving the IT needs of local businesses you can rest easy knowing that your IT problems will be resolved once and for all.
</div>
{{template "footerComponent"}}
</main>
</body>
</html>
{{end}}