{{define "contactPage"}}
{{template "headComponent"}}
<body>
<main>
{{template "navComponent"}}
<div class="uk-light uk-padding-small uk-container uk-container-small uk-align-center">
    <p>If you are experiencing problems with your computer don't hesitate to contact me anytime.</p>
    <br>
    Email: <a href="mailto: rektafmi@gmail.com">rektafmi@gmail.com</a>
    <br>
    Phone: <a href="tel:248-509-9499">248-509-9499</a>
    <br>
    Discord: <a href="https://discordapp.com/users/rektafmi#5696/">rektafmi#5696</a>
</div>
{{template "footerComponent"}}
</main>
</body>
</html>
{{end}}