{{define "footerComponent"}}
<div class="uk-light uk-padding-small uk-container uk-container-small uk-align-center">
    <p>2020 REKTAF - Built with GoLang - Hosted on Google Cloud</p>
</div>
{{end}}
