{{define "headComponent"}}
<!DOCTYPE html>
<html lang="en" style="background-color:#222">
<head>
<meta charset="UTF-8">
<meta name="intercoolerjs:use-actual-http-method" content="true"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>REKTAF</title>
<link rel="stylesheet" href="/assets/uikit.min.css">
<link rel="stylesheet" href="/assets/util.css">
<script src="/assets/jquery-3.4.1.min.js"></script>
<script src="/assets/intercooler.min.js"></script>
<script src="/assets/uikit-icons.min.js"></script>
<script src="/assets/uikit.min.js"></script>
</head>
{{end}}