{{define "homePage"}}
{{template "headComponent"}}
<body>
<main>
{{template "navComponent"}}
<div class="uk-light uk-padding-small uk-container uk-container-small uk-align-center">
    <p>REKTAF provides on-site and remote IT services for residential customers in the Oakland County, MI area.</p>
    <div>
        <h4>Oakland County, MI Residential IT Services</h4>
        <ul class="uk-list uk-list-striped">
            <li>Cloud Services</li>
            <li>Backup Services</li>
            <li>Virus Removal</li>
            <li>Operating System Repair</li>
            <li>Hardware Upgrades</li>
            <li>Custom Builds</li>
        </ul>
    </div>
</div>
{{template "footerComponent"}}
</main>
</body>
</html>
{{end}}