{{define "navComponent"}}
<div class="uk-light uk-padding-small uk-flex uk-flex-center uk-flex-bottom">
    <div class="uk-width-auto@m">
        <img src="assets/logo.png">
    </div>
    <div class="uk-width-auto@m">
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-center">
                <ul class="uk-navbar-nav">
                    <li><a href="/" class="uk-button">Home</a></li>
                    <li><a href="/about" class="uk-button">About</a></li>
                    <li><a href="/contact" class="uk-button">Contact</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<hr class="uk-divider-icon">
{{end}}